---
title: My homepage
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Welcome to my blog!</h1>
        <p>Hi there, I am Nenad! I use this blog to document my journey as a digital marketing professional. I'll be happy to share my knowledge, insights, and study materials! Feel free to use the resources to learn and teach others more about digital marketing!</p>
        <p>Below are some of my articles on various topics related to digital marketing. You can also go to the Blog or Resources page to get some useful goodies.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor %} 
    
    </ul>
  </div>
</section> 



